@page "/"


@*
    Deze onderdeel splitsen. Deze component geeft een overzicht van alle projecten weer.
    De gebruiker kan op een project klikken en de taken van dat project bekijken.

*@

<label for="exampleDataList" class="form-label">Datalist example</label>
<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
<datalist id="datalistOptions">
    @if(Contactpersonen != null)
    {
        @foreach (var contactpersoon in Contactpersonen)
        {
            <option value="@contactpersoon.Familienaam @contactpersoon.Voornaam" />
        }
    }
    else
    {
        <option>No contactpersonen found</option>
    }

</datalist>

<div class="container-fluid vh-100 d-flex flex-column">
    <div class="row flex-grow-1 d-flex">
        <div class="col-lg-6 col-12 overflow-auto" style="overflow-x: visible;">
            @* Eerst kolom *@
            <ProjectenOverzicht OnProjectSelectedOverzicht="OnProjectSelected" />
            @* Eind eerste kolom *@
        </div>
        @* Tweede kolom *@
        <div class="col-lg-6 col-12 overflow-auto" style="overflow-x: visible;">
            <TakenOverzicht ProjectId="selectedProjectId" />
        </div>
        @* Eind tweede kolom *@
    </div>
</div>


@*
<section class="position-relative py-4 py-xl-5">
    <div class="container position-relative">
        <div class="row">
            <div class="col-xl-6">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col">
                            <div class="gradient-overlay top-overlay"></div> <!-- Top gradient overlay -->
                            <div class="overflow-auto" style="max-height: 500px;">
                                <!-- Set a max-height and overflow-auto -->
                                <ProjectenOverzicht OnProjectSelected="OnProjectSelected" />
                            </div> <!-- end overflow-auto -->
                            <div class="gradient-overlay bottom-overlay"></div> <!-- Bottom gradient overlay -->

                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end col -->

            <div class="col-xl-6">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col">
                            <div class="gradient-overlay top-overlay"></div> <!-- Top gradient overlay -->
                            <div class="overflow-auto" style="max-height: 500px;">
                                <!-- zet maximum hoogte (voorlopig) en overflow-auto -->
                                <!-- hier komen de taken-->
                                <TakenOverzicht ProjectId="selectedProjectId" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* End row
    </div>
    @* End container position
</section>
*@

@code {
    private int selectedProjectId { get; set; }
    [Inject]
    private ContactpersoonService contactpersoonService { get; set; }
    public ICollection<ContactPersoonDTO> Contactpersonen { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Contactpersonen = await contactpersoonService.GetAllContactpersonenDTOAsync();
    }

    private void OnProjectSelected(int projectId)
    {
        selectedProjectId = projectId;
    }
}